body {
  font-family: Arial, Helvetica, sans-serif;
  width: 1050px;
  height: 500px;
  margin: 0 auto;
  margin-top: 0px;
}

td {
  border: 2px solid #D3D3D3;
  width: 200px;
  height: 90px;
}

table {
  border-collapse: collapse;
}

.day_of_the_week {
  border: 0;
  padding-left: 112px;
  vertical-align: bottom;
  height: 15px;
}

.begining_month {
  vertical-align: top;
  padding-left: 100px;
  padding-top: 10px;
  font-weight: bold;
}

.number {
  vertical-align: top;
  padding-left: 125px;
  padding-top: 10px;
  font-weight: bold;
}

.weekend {
  background-color: rgba(225, 222, 222, 0.3);
  position: relative;
}

.other_month {
  color: #BEB6B6;
}

.october {
  font-weight: 100;
}

.weekend_day {
  color: #877777;
}

.current {
  background: #ff4040;
  padding: 5px;
  border-radius: 100%;
  color: #fff;
}

p {
  /* padding-left: 70px; */
  position: absolute;
  transform: translateY(-6px);
  top: 0;
  right: 0;
  padding-right: 10px;
  font-weight: 700;
  color: #877777;
}

.holiday {
  padding-left: 20px;
  font-weight: bold;
}

.btn {
  position: fixed;
  right: 0;
  top: 50%;
  padding: 15px;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar.calendar_dark {
  background: black;
}

.calendar.calendar_dark .month {
  color: white;
}

.calendar.calendar_dark .calendar_item {
  color: white;
}

.calendar.calendar_dark .other_month {
  color: gray;
}